{{ define "main" }}
{{- if eq .Type "posts" -}}
<article>
{{ end }}
<h1>{{ .Title | title }}</h1>  
{{ if eq .Type "posts" -}}
<p class="subtitle">
    <time class="date" datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
    {{ if .Params.categories -}}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span class="article-categories">
    {{- range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}<a href="/categories/{{ . | urlize }}/">{{ lower $e }}</a>{{ end }}</span>{{ end }}
</p>
{{ end -}}
{{/* remove p tags from around figure tags */ -}}
{{ $reFigIn := "<p>([\\s]*?<figure[>\\s][\\S\\s]*?</figure>\\s*?)</p>" -}}
{{ $reFigOut := "$1" -}}
{{ $reFigContent := .Content | replaceRE $reFigIn $reFigOut -}}
{{ $reFigContent | safeHTML}}
{{ if eq .Type "posts" -}}
</article>
{{- end -}}
{{- end -}}