{{ define "main" }}
<h1>{{ .Title }}</h1>  
{{ if eq .Type "posts" -}}
<span class="subtitle">
    <span class="date">{{ .PublishDate.Format "January 2, 2006" }}</span>
    {{ if .Params.categories -}}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    {{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}<a href="/categories/{{ . | urlize }}/">{{ title $e }}</a>{{ end }}{{ end }}
</span>

{{ end -}}
{{ $reFigIn := "<p>([\\s]*?<figure[>\\s][\\S\\s]*?</figure>\\s*?)</p>" }}
{{ $reFigOut := "$1" }}
{{ $reFigContent := .Content | replaceRE $reFigIn $reFigOut | safeHTML }}
{{ $reFigContent }}
{{ end -}}
