.addendum,
.description-comments,
.embed figcaption,
.endnote,
.endnote a,
.listdate,
.post-comment-reply-link,
.post-comment-reply-link a,
.post-time,
.post-time a,
.site-title,
.subtitle .date,
.updated,
blockquote,
figure.inline figcaption {
	color: #696969;
}

.addendum,
.endnote,
.fixedwidth,
.hljs,
.listdate,
.subtitle,
.tags,
.updated, 
figure.inline figcaption
{
	font-size: 0.8em;
}

.addendum .date {
	font-weight: bold;
}

.cleanlist {
	list-style-type: none;
	padding-left: 0;
}

.cleanlist li {
	padding-bottom: 10px;
}

.comment-message p {
	margin: 10px 0;
}

.description-comments {
	font-size: 0.8em;
	font-style: italic;
}

.embed {
	margin: 0;
}

.end {
	padding: 60px 0 20px;
}

.endnote,
.gallery figcaption,
.post-comment-header,
.pswp__caption,
.site-title,
.site-categories,
.subtitle,
.tags,
figcaption,
p.addendum .date {
	font-family: 'news cycle', 'news cycle-fallback', sans-serif;
}

.endnote {
	margin-top: -20px;
}

.endnote,
figure.inline figcaption {
	text-align: center;
}

.gallery .img,
.highlight,
.lazyframe,
figure.inline img,
p img {
	outline: 1px solid #363636;
}

.gallery figcaption,
div.pswp__caption__center {
	font-size: 1em;
	max-width: 700px;
	text-align: center;
}

.gallery figure {
	margin: 5px;
}

.hljs, 
.fixedwidth {
	font-family: 'source code pro', monospace;
}

.hljs,
body {
	background-color: #f9f9f9;
}

.hljs-literal {
	color: darkgreen;
}

.lazyframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin: 0;
}

.lazyframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	border: none;
}

.post-comment {
	font-size: 0.9em;
	margin: 40px 0 0 0;
}

.post-comment-avatar {
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.post-comment-header a {
	text-decoration: none;
}

.post-comment-header a:hover {
	text-decoration: underline;
}

.post-comment-info {
	margin-bottom: 10px;
}

.post-comment-name,
.post-comment-name a {
	font-weight: bold;
}

.post-comment-name,
.post-comment-name a, 
.title-comments a,
body {
	color: #363636;
}

.post-comment-reply-link {
	line-height: 2em;
}

.post-comment-reply-link,
.post-comment-reply-link a {
	font-style: italic;
}

.pswp__caption__center {
	font-size: 0.9em;
}

.reply {
	margin-top: 20px;
	padding-left: 20px;
}

.reply,
blockquote {
	border-left: 1px solid #696969;
}

.site-categories {
	font-size: 0.9em;
	line-height: 2em;
	margin-top: 0.2em;
	text-align: center;
}

.site-categories a,
.subtitle a,
.tags a {
	text-decoration: none;
}

.site-categories a:hover,
.subtitle a:hover,
.tags a:hover {
	text-decoration: underline;
}

.site-title {
	font-size: 1.3em;
	margin: 0;
	text-align: center;
}

.subtitle+p {
	margin-top: 0.4em;
}

.title-comments {
	margin: 5px 0 10px 0;
}

.title-comments a {
	font-weight: bold;
	text-decoration: none;
}

.updated {
	font-style: italic;
}

a {
	color: #006699;
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: from-font;
}

a:hover {
	text-decoration: none;
}

blockquote {
	font-style: italic;
	margin-left: 0;
	margin-right: 30px;
	padding-left: 30px;
}

body {
	font-family: 'lora', 'lora-fallback', serif;
	font-size: 20px;
	line-height: 1.6;
	margin: 0.8em auto;
	max-width: 700px;
	overflow-wrap: break-word;
	padding: 0 0.8em;
}

h1,
h2,
h3 {
	font-family: 'news cycle', 'news cycle-fallback', sans-serif;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}

hr {
	background-color: #696969;
	border: 0;
	height: 1px;
	width: 90%;
}

html {
    width: 100%;
}

figure.inline {
	margin: 20px 0;
}

figure.inline img,
p img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 90%;
}

pre {
	overflow: auto;
}

ul {
	padding-left: 20px;
}
