{{- /* 
  Partial: comment-item
  Purpose: Render a single comment (top-level or reply)
  
  Parameters (via context):
    .comment: The comment object
    .isReply: Boolean - whether this is a reply comment
    .parentId: Parent comment ID (for reply link)
    .parentName: Parent comment name (for reply text)
*/ -}}

<div id="comment-{{ .comment._id }}" class="post-comment{{ if .isReply }} reply{{ end }}">
	{{- if .isReply }}<div class="arrow-up"></div>{{ end }}
	<div class="post-comment-header">
		{{- if .comment.url }}<a href="{{ .comment.url }}" title="{{ .comment.name }}'s website">{{ end -}}
		<img class="post-comment-avatar" width="57px" height="57px" loading="lazy" src="//www.gravatar.com/avatar/{{ .comment.email }}?s=57&r=pg&d=identicon" alt="{{ if .comment.url }}{{ .comment.name }}'s gravatar{{ end }}">
		{{- if .comment.url }}</a>{{ end }}
		<p class="post-comment-info">
			<span class="post-comment-name"><a href="#comment-{{ .comment._id }}" title="Permalink to this comment">{{ .comment.name }}</a></span>
			<br>
			<time class="post-time" datetime="{{ dateFormat "2006-01-02" .comment.date }}">{{ dateFormat "Jan 2, 2006" .comment.date }}</time>
			{{- if .isReply }}
			<span class="post-comment-reply-link"><span aria-hidden="true">→</span> <span class="sr-only">to</span> <a href="#comment-{{ .parentId }}">{{ .parentName }}</a></span>
			{{- end }}
		</p>
	</div>
	<div class="comment-message">
		{{ .comment.comment | plainify | markdownify }}
	</div>
</div>
