{{ if .Params.comments }}
<div class="end"><hr></div>
<h2 class="title-comments" id="comments"><a href="#comments">Comments</a></h2>
<span class="description-comments">Comments are no longer supported&mdash;please contact me <a href="/" target="_blank">elsewhere</a>.<br>The following have been migrated from an old site and may have formatting errors.</span>
{{- $comments := readDir "data/comments" -}}
{{- $postSlug := .File.BaseFileName -}}
{{- range $comments -}}
{{- if eq .Name $postSlug -}}
	{{- range $index, $comments := (index $.Site.Data.comments $postSlug ) -}}
		{{- if not .reply_to }}
			{{- partial "comment-item" (dict "comment" . "isReply" false "context" .) -}}
			{{- partial "comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}