{{ if .Params.comments }}
	<h2 class="title-comments" id="comments"><a href="#comments">Comments</a></h3>
	<span class="description-comments">Comments are no longer supported&mdash;please contact me on <a rel="me noopener" href="https://aus.social/@imathew" target="_blank">Mastodon</a> or <a rel="me noopener" href="https://twitter.com/imathew" target="_blank">Twitter</a>.<br>The following have been migrated from an old site and may have formatting errors.</span>
	{{ $comments := readDir "data/comments" -}}
	{{ $.Scratch.Add "hasComments" 0 -}}
	{{ $postSlug := .File.BaseFileName -}}
	{{ range $comments -}}
	{{ if eq .Name $postSlug }}
		{{ $.Scratch.Add "hasComments" 1 }}
		{{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
			{{ if not .reply_to }}
	<div id="comment-{{ ._id }}" class="post-comment">
		<div class="post-comment-header">
			{{ if .url }}<a href="{{ .url }}" title="{{ .name }}'s website">{{ end }}<img class="post-comment-avatar" loading="lazy" src="//www.gravatar.com/avatar/{{ .email }}?s=57&r=pg&d=identicon&r=pg" alt="">{{ if .url }}</a>{{ end }}
			<p class="post-comment-info">
				<span class="post-comment-name"><a href="#comment-{{ ._id }}" title="Permalink to this comment">{{ .name }}</a></span>
				<br>
				<span class="post-time">{{ dateFormat "Jan 2, 2006" .date }}</span>
			</p>
		</div>
		<div class="comment-message">{{ .comment | plainify | markdownify }}
		</div>
	</div>
		{{ partial "comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}
				{{ end -}}
			{{ end -}}
		{{ end -}}
	{{ end -}}
	<div class="end"><hr></div>
{{ end -}}