{{- $image := resources.Get (printf "%s" (.Get "src" | safeURL)) -}}
<div class="box" >
    <figure  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <div class="img" style="background-image: url('{{ $image.RelPermalink }}');">
            <img itemprop="thumbnail" src="{{ $image.RelPermalink }}" alt="{{ .Get "alt" }}" title="{{ .Get "title" }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        </div>
        <a href="{{ $image.RelPermalink }}" itemprop="contentUrl"></a>
        <figcaption>
            <p>{{ .Get "title"}}</p>
        </figcaption>
    </figure>
</div>